<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
	<title>Game-Log | Login</title>
    <link th:href="@{/styles/global.css}" rel="stylesheet" />
</head>
<body>

<div class="container unauthenticated" sec:authorize="isAnonymous()">
    Sign in with:
    <a th:href="@{/login/steam}">
        <img th:src="@{/assets/sits_large_border.png}" alt="Login with Steam">
    </a>
</div>

<div class="container authenticated" sec:authorize="isAuthenticated()">
    Logged in as SteamID: <span th:text="${#authentication.getPrincipal()}"></span>
    <div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

</body>
</html>